.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header span {
  color: teal;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.cards {
  width: 100vw;
}
.card {
  margin: 1rem;
  max-height: 100vh
}
